body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  color: #111;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.85;
}